## How to convert shapefile to WKT.

Need to Convert a shapefile to WKT so we can use it as a Geometry field in our WaDE imports.

In [ ]:
#Needed Libararies
import os
import numpy as np
import pandas as pd
import geopandas as gpd # the library that lets us read in shapefiles
pd.set_option('display.max_columns', 999)  # How to display all columns of a Pandas DataFrame in Jupyter Notebook

In [ ]:
#Working Directory and Input Files
workingDir = "C:/Users/rjame/Documents/WSWC Documents/MappingStatesDataToWaDE2.0/USBR/Colorado River Basin Natural Flow and Salt Data/AggregatedAmounts/RawInputData/byState"
os.chdir(workingDir)

USBR_Tri = gpd.read_file('C:/Users/rjame/Documents/WSWC Documents/MappingStatesDataToWaDE2.0/USBR/Colorado River Basin Natural Flow and Salt Data/AggregatedAmounts/RawInputData/byState/ByState.shp')

In [ ]:
USBR_Tri.head(20)

In [ ]:
df = pd.DataFrame(USBR_Tri)
df

In [ ]:
# Printing file to xlsx
df.to_excel('USBR_Tri.xlsx', index=False)  # The output

# Working with Aggregated Data

In [1]:
#Needed Libararies
import os
import numpy as np
import pandas as pd
from datetime import datetime
import geopandas as gpd # the library that lets us read in shapefiles
pd.set_option('display.max_columns', 999)  # How to display all columns of a Pandas DataFrame in Jupyter Notebook

In [2]:
#Setting work directory, reading inputs, creating dataframe

#CSV input file
workingDir = "C:/Users/rjame/Documents/WSWC Documents/MappingStatesDataToWaDE2.0/USBR/Colorado River Basin Natural Flow and Salt Data/AggregatedAmounts"
os.chdir(workingDir)
fileInput = "RawInputData/perfect example_A.csv"
df = pd.read_csv(fileInput)

#Shapefile input
shfile = gpd.read_file('C:/Users/rjame/Documents/WSWC Documents/MappingStatesDataToWaDE2.0/USBR/Colorado River Basin Natural Flow and Salt Data/AggregatedAmounts/RawInputData/byState/ByState.shp')
dfshape = pd.DataFrame(shfile)

In [3]:
df.head(5)

,USE TYPE,STATE,COUNTY,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Irrigated Agriculture,Arizona,san juan-colorado river,2500.0000,2900.0,4000.0,4250.0,3540.0,2690.0,3810.0,4300.0,5320.0,6290.0,4575.000,5664.000,6523.000,5800.000,5800.000,3838.9000,3377.1000,3.275100e+03,3.371760e+03,3.620000e+03,4.500000e+03,3.790000e+03,4520.0000,4.900000e+03,4300.0000,4.259000e+02,398.8000,463.3000,485.8000,6.494000e+02,5.150000e+02,4.363000e+02,487.9000,580.4000,609.4000,572.3,958.2128,1081.5,729.5776,1209.563,1014.4311,6.128336e+02,1055.6067,968.0913,1178.6036,1.114712e+03,1.106770e+03,1.019725e+03
1,Irrigated Agriculture,Colorado,green river,147229.0000,128045.0,120533.0,140336.0,124835.0,117430.0,101285.0,135420.0,134259.0,129310.0,156092.888,142308.266,139679.482,136239.364,131406.655,120153.9000,137987.2000,1.858499e+05,1.671116e+05,1.698521e+05,1.680848e+05,1.909399e+05,137093.9329,1.517597e+05,107409.5306,1.918523e+05,131402.0834,162343.0776,150787.5710,1.904855e+05,1.771210e+05,2.151400e+05,180779.1000,131425.3000,118595.7000,148442.5,155904.6000,151792.8,204694.9000,216359.600,198029.0000,2.764474e+05,181391.0000,154112.0000,169262.5000,1.723303e+05,1.648434e+05,2.012125e+05
2,Irrigated Agriculture,Colorado,upper main stem,985970.5317,974215.0,842480.0,1013597.0,921269.0,904678.0,822262.0,986244.0,984831.0,1006678.0,1059416.541,1016864.749,1009453.272,922455.222,1011258.749,836124.4000,964544.0000,1.089711e+06,1.125820e+06,1.033207e+06,1.079455e+06,1.103990e+06,912638.6260,1.111273e+06,762836.0924,1.013847e+06,835403.0995,964411.3680,850087.7871,1.080423e+06,1.077098e+06,1.006916e+06,947432.0000,874501.4000,807957.1000,795027.2,836905.4000,906965.4,885541.0000,883359.400,889468.2000,1.116340e+06,802324.7000,715887.5000,665396.3000,1.014549e+06,1.036783e+06,1.148878e+06
3,Irrigated Agriculture,Colorado,san juan-colorado river,191556.0000,210840.0,194865.0,206454.0,210639.0,167710.0,129778.0,153212.0,186034.0,173000.0,187290.252,204140.235,209338.966,224098.420,202003.088,196248.8000,285136.6000,3.179726e+05,3.933405e+05,3.098897e+05,2.695966e+05,2.731183e+05,273617.4569,2.880978e+05,244812.4421,3.215649e+05,277115.2426,322061.2438,263398.4265,3.594541e+05,3.531116e+05,3.172268e+05,322197.0000,262647.4000,292934.3000,274291.3,340303.7000,385107.7,371977.6000,363660.500,367433.2000,5.068861e+05,344319.0000,433175.4000,345931.4000,3.167288e+05,3.351798e+05,3.461167e+05
4,Irrigated Agriculture,New Mexico,san juan-colorado river,86627.0000,98019.0,94264.0,102050.0,94115.0,146628.0,138355.0,163526.0,186494.0,210479.0,152189.202,196250.099,200958.407,178053.206,206323.735,270396.3941,213677.3382,2.049350e+05,2.418563e+05,2.299745e+05,2.176954e+05,1.790387e+05,219338.5441,2.391253e+05,221441.5359,2.081948e+05,183488.2638,194095.9553,155602.1441,1.810887e+05,1.955140e+05,2.385107e+05,231165.6042,229132.6093,210117.4803,211269.0,224143.0000,221658.0,213484.0000,208142.000,260039.6180,2.793574e+05,238484.0198,250871.2775,212904.9169,2.012990e+05,2.351030e+05,2.351030e+05

In [4]:
dfshape.head(5)

,OBJECTID,TNMID,MetaSource,SourceData,SourceOrig,SourceFeat,LoadDate,GNIS_ID,AreaAcres,AreaSqKm,States,HUC10,Name,HUType,HUMod,Shape_Leng,Shape_Area,geometry
0,806,{2FF08A58-1AE2-4B3A-9E60-69AFDD50E9B8},{85FD5379-677D-43E4-B5EF-E9E7E7297246},None,None,None,2012-10-24,0,207648.00,840.32,CO,1404010703,green river,S,None,2.294248,0.090046,"POLYGON ((-109.04826 39.50320, -109.05007 40.9..."
1,140,{C08F01A7-9AF5-4672-8FC5-3E918095EC10},None,None,None,None,2017-09-19,0,15955412.63,64569.32,AZ,None,colorado river,None,None,18.365110,6.520576,"POLYGON ((-109.04522 36.99735, -109.04604 36.0..."
2,38,{30AA0342-4EDA-487D-90D0-DE39A38E1313},None,None,None,None,2017-04-17,0,6296353.12,25480.46,CO,None,upper main stem,None,None,13.295278,2.671646,"POLYGON ((-109.04634 37.92188, -109.04826 39.5..."
3,806,{2FF08A58-1AE2-4B3A-9E60-69AFDD50E9B8},{85FD5379-677D-43E4-B5EF-E9E7E7297246},None,None,None,2012-10-24,0,207648.00,840.32,WY,1404010703,green river,S,None,2.294248,0.090046,"POLYGON ((-106.86125 41.00002, -110.72029 40.9..."
4,806,{2FF08A58-1AE2-4B3A-9E60-69AFDD50E9B8},{85FD5379-677D-43E4-B5EF-E9E7E7297246},None,None,None,2012-10-24,0,207648.00,840.32,UT,1404010703,green river,S,None,2.294248,0.090046,"POLYGON ((-109.05007 40.99894, -109.04826 39.5..."

In [5]:
#Approach:
#Make a temp df to store in values from a list
#Append temp df to output df

target_columns = ["Amount", "BeneficialUseCV", "ReportYearCV", "STATE", "COUNTY", "WaterSource"]
dfout = pd.DataFrame(columns=target_columns)
dftemp = pd.DataFrame(columns=target_columns)

# for row in df.index:
for row in df.index:
    #Get Values
    Amounts = df.iloc[row].drop(["USE TYPE", "STATE", "COUNTY"]).values.tolist()
    BenUse = df.iloc[row,0]
    ReportYears = df.iloc[0].drop(["USE TYPE", "STATE", "COUNTY"]).index.values.tolist()
    State = str(df.iloc[row,1])
    
    CWS = str(df.iloc[row,2])
    if '-' in CWS:
        County = str(df.iloc[row,2].split('-')[0])
        WaterSource = str(df.iloc[row,2].split('-')[1])
    else:
        County = ""
        WaterSource = str(df.iloc[row,2])  
    
    #Put Values into temp Dataframe
    dftemp['Amount'] = Amounts
    dftemp['ReportYearCV'] = ReportYears
    dftemp['BeneficialUseCV'] = BenUse
    dftemp['STATE'] = State
    dftemp['COUNTY'] = County
    dftemp['WaterSource'] = WaterSource
    
    #Append to dfout
    dfout = dfout.append(dftemp)

dfout
dfout.reset_index()

,index,Amount,BeneficialUseCV,ReportYearCV,STATE,COUNTY,WaterSource
0,0,2500.0,Irrigated Agriculture,1971,Arizona,san juan,colorado river
1,1,2900.0,Irrigated Agriculture,1972,Arizona,san juan,colorado river
2,2,4000.0,Irrigated Agriculture,1973,Arizona,san juan,colorado river
3,3,4250.0,Irrigated Agriculture,1974,Arizona,san juan,colorado river
4,4,3540.0,Irrigated Agriculture,1975,Arizona,san juan,colorado river
...,...,...,...,...,...,...,...
3883,43,0.0,Fish & Wildlife,2014,Wyoming,,green river
3884,44,0.0,Fish & Wildlife,2015,Wyoming,,green river
3885,45,0.0,Fish & Wildlife,2016,Wyoming,,green river
3886,46,0.0,Fish & Wildlife,2017,Wyoming,,green river
3887,47,0.0,Fish & Wildlife,2018,Wyoming,,green river

In [6]:
#Convert State to abbreveated version
StateAbDic = {
"Arizona" : "AZ",
"Colorado" : "CO",
"New Mexico" : "CM",
"Utah" : "UT",
"Wyoming" : "WY"}

def assignStateAb(colrowValue):
    if colrowValue == '' or pd.isnull(colrowValue):
        outList = ""
    else:
        String1 = colrowValue  # remove whitespace chars
        try:
            outList = StateAbDic[String1]
        except:
            outList = ""
    return outList

dfout['STATE'] = dfout.apply(lambda row: assignStateAb(row['STATE']), axis=1)
dfout

,Amount,BeneficialUseCV,ReportYearCV,STATE,COUNTY,WaterSource
0,2500.0,Irrigated Agriculture,1971,AZ,san juan,colorado river
1,2900.0,Irrigated Agriculture,1972,AZ,san juan,colorado river
2,4000.0,Irrigated Agriculture,1973,AZ,san juan,colorado river
3,4250.0,Irrigated Agriculture,1974,AZ,san juan,colorado river
4,3540.0,Irrigated Agriculture,1975,AZ,san juan,colorado river
...,...,...,...,...,...,...
43,0.0,Fish & Wildlife,2014,WY,,green river
44,0.0,Fish & Wildlife,2015,WY,,green river
45,0.0,Fish & Wildlife,2016,WY,,green river
46,0.0,Fish & Wildlife,2017,WY,,green river
47,0.0,Fish & Wildlife,2018,WY,,green river

In [7]:
#Creating ReportingUnit. State+WaterSource

dfout['ReportingUnit'] = dfout['STATE'] + "_" + dfout['WaterSource']
dfout

,Amount,BeneficialUseCV,ReportYearCV,STATE,COUNTY,WaterSource,ReportingUnit
0,2500.0,Irrigated Agriculture,1971,AZ,san juan,colorado river,AZ_colorado river
1,2900.0,Irrigated Agriculture,1972,AZ,san juan,colorado river,AZ_colorado river
2,4000.0,Irrigated Agriculture,1973,AZ,san juan,colorado river,AZ_colorado river
3,4250.0,Irrigated Agriculture,1974,AZ,san juan,colorado river,AZ_colorado river
4,3540.0,Irrigated Agriculture,1975,AZ,san juan,colorado river,AZ_colorado river
...,...,...,...,...,...,...,...
43,0.0,Fish & Wildlife,2014,WY,,green river,WY_green river
44,0.0,Fish & Wildlife,2015,WY,,green river,WY_green river
45,0.0,Fish & Wildlife,2016,WY,,green river,WY_green river
46,0.0,Fish & Wildlife,2017,WY,,green river,WY_green river
47,0.0,Fish & Wildlife,2018,WY,,green river,WY_green river

In [8]:
#transfer WKT gemetry from dfshape
def retrieveGeometry(colrowValue, dfshape):
    if (colrowValue == '') or (pd.isnull(colrowValue)):
        outList = ''
    else:
        ml = dfshape.loc[(dfshape['States'] == colrowValue), 'geometry']
        if not(ml.empty):  # check if the series is empty
            outList = ml.iloc[0]
        else:
            outList = ''
    return outList

dfout['Geometry'] = dfout.apply(lambda row: retrieveGeometry(row['STATE'], dfshape), axis=1)
dfout

,Amount,BeneficialUseCV,ReportYearCV,STATE,COUNTY,WaterSource,ReportingUnit,Geometry
0,2500.0,Irrigated Agriculture,1971,AZ,san juan,colorado river,AZ_colorado river,"POLYGON ((-109.0452244788257 36.9973477660516,..."
1,2900.0,Irrigated Agriculture,1972,AZ,san juan,colorado river,AZ_colorado river,"POLYGON ((-109.0452244788257 36.9973477660516,..."
2,4000.0,Irrigated Agriculture,1973,AZ,san juan,colorado river,AZ_colorado river,"POLYGON ((-109.0452244788257 36.9973477660516,..."
3,4250.0,Irrigated Agriculture,1974,AZ,san juan,colorado river,AZ_colorado river,"POLYGON ((-109.0452244788257 36.9973477660516,..."
4,3540.0,Irrigated Agriculture,1975,AZ,san juan,colorado river,AZ_colorado river,"POLYGON ((-109.0452244788257 36.9973477660516,..."
...,...,...,...,...,...,...,...,...
43,0.0,Fish & Wildlife,2014,WY,,green river,WY_green river,POLYGON ((-106.8612454227857 41.00002197492881...
44,0.0,Fish & Wildlife,2015,WY,,green river,WY_green river,POLYGON ((-106.8612454227857 41.00002197492881...
45,0.0,Fish & Wildlife,2016,WY,,green river,WY_green river,POLYGON ((-106.8612454227857 41.00002197492881...
46,0.0,Fish & Wildlife,2017,WY,,green river,WY_green river,POLYGON ((-106.8612454227857 41.00002197492881...
47,0.0,Fish & Wildlife,2018,WY,,green river,WY_green river,POLYGON ((-106.8612454227857 41.00002197492881...

In [9]:
#Fixing Datatypes
dfout['Amount'] = dfout['Amount'].astype(float) 
dfout['ReportYearCV'] = dfout['ReportYearCV'].astype(int)
dfout.dtypes

Amount             float64
BeneficialUseCV     object
ReportYearCV         int32
STATE               object
COUNTY              object
WaterSource         object
ReportingUnit       object
Geometry            object
dtype: object

In [10]:
#Exporting Outbound DataFrame to working csv file
dfout.to_csv('RawInputData/P_USBAggUCRB.csv', index=False)