In [1]:
#!/usr/bin/env python
import pandas as pd
import numpy as np
import os
import beneficialUseDictionary

In [2]:
# working directory
working_dir = "C:/tseg/NMTest/"
os.chdir(working_dir)

In [3]:
# Input files
fileInput1 = "OSE_Points_of_Diversion.csv "
fileInput2 = "Summary of withdrawals by county 90-15.xlsx" 
fileInput3 = "Summary of withdrawals by River Basin 90-15.xlsx" 

# output water sources
out_put = "watersources.csv"

In [4]:
##### WaDE columns

columns=['WaterSourceUUID', 'WaterSourceNativeID',	'WaterSourceName', 'WaterSourceTypeCV',
         'WaterQualityIndicatorCV',	'GNISFeatureNameCV', 'Geometry']

dtypesx = ['BigInt	NVarChar(250)	NVarChar(250)	NVarChar(250)	NVarChar(100)	NVarChar(100)',
           'NVarChar(250)	Geometry']

In [5]:
### target dataFrame

# TODO: assumes dtypes inferred from CO file
outdf100=pd.DataFrame(columns=columns)

In [6]:
print("Reading inputs...")


df100 = pd.read_csv(fileInput1,encoding = "ISO-8859-1") #, or alternatively encoding = "utf-8"

print (len(df100.index))

#df100 = df100.head(10000) #only runs first 100 lines for testing.

#df100 = df100.replace('', np.nan)
df100.head(5)

Reading inputs...

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (30,51,66,67) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

234660

,OBJECTID_1,OBJECTID,pod_basin,pod_nbr,pod_suffix,ref,pod_name,tws,rng,sec,...,state,zip,contact_ln,contact_fn,nmwrrs_wrs,in_state,podlocdate,loc_error,wr_count,replaced
0,1,1,B,928,,,,11N,10W,22,...,NM,87020,,,http://nmwrrs.ose.state.nm.us/ReportDispatcher...,1,2019-10-01T00:00:00.000Z,0,1,1
1,2,2,B,691,,,,10N,10W,03,...,NM,87020,,,http://nmwrrs.ose.state.nm.us/ReportDispatcher...,1,2019-10-01T00:00:00.000Z,0,1,0
2,3,6,B,1077,,,,12N,12W,06,...,NM,88240,,,http://nmwrrs.ose.state.nm.us/ReportDispatcher...,1,2019-10-01T00:00:00.000Z,0,1,0
3,4,7,B,735,,,,13N,08W,23,...,NM,87050,,,http://nmwrrs.ose.state.nm.us/ReportDispatcher...,1,2019-10-01T00:00:00.000Z,0,1,0
4,5,8,B,1094,,,,09N,12W,14,...,NM,87020,,,http://nmwrrs.ose.state.nm.us/ReportDispatcher...,1,2019-10-01T00:00:00.000Z,0,1,0

In [7]:
list(df100.columns)

['OBJECTID_1',
 'OBJECTID',
 'pod_basin',
 'pod_nbr',
 'pod_suffix',
 'ref',
 'pod_name',
 'tws',
 'rng',
 'sec',
 'qtr_4th',
 'qtr_16th',
 'qtr_64th',
 'blk',
 'zone',
 'x',
 'y',
 'grant',
 'legal',
 'county',
 'start_date',
 'finish_dat',
 'plug_date',
 'pcw_rcv_da',
 'elevation',
 'depth_well',
 'grnd_wtr_s',
 'percent_sh',
 'depth_wate',
 'log_file_d',
 'sched_date',
 'use_of_wel',
 'pump_type',
 'pump_seria',
 'discharge',
 'aquifer',
 'sys_date',
 'subdiv_nam',
 'subdiv_loc',
 'restrict',
 'lat_deg',
 'lat_min',
 'lat_sec',
 'lon_deg',
 'lon_min',
 'lon_sec',
 'surface_co',
 'estimate_y',
 'pod_status',
 'casing_siz',
 'ditch_name',
 'utm_zone',
 'easting',
 'northing',
 'datum',
 'utm_source',
 'utm_accura',
 'xy_source',
 'xy_accurac',
 'lat_lon_so',
 'lat_lon_ac',
 'tract_nbr',
 'map_nbr',
 'surv_map',
 'other_loc',
 'pod_rec_nb',
 'cfs_start_',
 'cfs_end_md',
 'cfs_cnv_fa',
 'cs_code',
 'wrats_s_id',
 'utm_error',
 'pod_sub_ba',
 'well_tag',
 'static_lev',
 'pod_file',
 'basin',
 'nbr',
 'suffix',
 'sub_basin',
 'status',
 'use',
 'total_div',
 'sub_file',
 'sum_rec_nb',
 'sf_header',
 'db_file',
 'own_lname',
 'own_fname',
 'addr1',
 'addr2',
 'city',
 'state',
 'zip',
 'contact_ln',
 'contact_fn',
 'nmwrrs_wrs',
 'in_state',
 'podlocdate',
 'loc_error',
 'wr_count',
 'replaced']

In [9]:
print ("Water source type")

df100.assign(WaterSourceTypeCV='')

df100 = df100.apply(lambda row: assignWaterSourceTypeCV(row["grnd_wtr_s"]), axis=1)
df100sub = df100[["grnd_wtr_s", "surface_co"]]

df100sub

Water source type

       grnd_wtr_s  surface_co
0               S           0
1               S           0
2                           0
3               S           0
4               S           0
5               D           0
6               S           0
7               S           0
8               S           0
9               S           0
10                          0
11              S           0
12                          0
13              A           0
14              S           0
15              S           0
16              S           0
17                          0
18                          0
19              S           0
20                          0
21              S           0
22              A           0
23              S           0
24              S           0
25              S           0
26              S           0
27                          0
28                          0
29              S           0
...           ...         ...
234630                      0
234631                      0
234632                      0
234633                      0
234634                      0
234635                      0
234636                      0
234637                      0
234638                      0
234639                      0
234640          S           0
234641                      0
234642          S           0
234643                      0
234644                      0
234645                      0
234646                      0
234647          S           0
234648                      0
234649                      0
234650                      0
234651                      0
234652                      0
234653                      0
234654                      0
234655                      0
234656                      0
234657                      0
234658                      0
234659                      0

[234660 rows x 2 columns]

In [ ]:
print ("Water source name")
Surface / Ground
Use ground water type and surface water type codes:
grnd_wtr_s
surface_co

destCols=['WaterSourceName','WaterSourceTypeCV']
srsCols=['pod_name', 'WaterSourceTypeCV']

outdf100[destCols] = df100[srsCols]

In [6]:
print("Hard coded ...")

outdf100.WaterQualityIndicatorCV = "Fresh"

Hard coded ...

,WaterSourceUUID,WaterSourceNativeID,WaterSourceName,WaterSourceTypeCV,WaterQualityIndicatorCV,GNISFeatureNameCV,Geometry
0,OK_1,1,Unspecificed,Surface Water,Fresh,,
1,OK_2,2,Unspecificed,Groundwater,Fresh,,

In [7]:
#write out
outdf100.to_csv(out_put, index=False, encoding = "utf-8")

print("Done watersources")

Done watersources